In [2]:
import pandas as pd

In [6]:
df = pd.read_excel('newdata.xlsx')
df.head(10)

   Height  Weight
0     150      50
1     155      55
2     160      59
3     165      60
4     175      69
5     180      71
6     185      72
7     189      78
8     191      79
9     193      81

In [8]:
df = pd.read_excel('newdata.xlsx')
df.head(20)

    Height  Weight
0      150      50
1      155      55
2      160      59
3      165      60
4      175      69
5      180      71
6      185      72
7      189      78
8      191      79
9      193      81
10     195      55
11     198      56
12     211      87
13     220      65
14     230      69
15     240      73