In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('data job posts.csv')
df

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

<bound method DataFrame.dropna of                                                  jobpost          date  \
0      AMERIA Investment Consulting Company\r\nJOB TI...   Jan 5, 2004
1      International Research & Exchanges Board (IREX...   Jan 7, 2004
2      Caucasus Environmental NGO Network (CENN)\r\nJ...   Jan 7, 2004
3      Manoff Group\r\nJOB TITLE:  BCC Specialist\r\n...   Jan 7, 2004
4      Yerevan Brandy Company\r\nJOB TITLE:  Software...  Jan 10, 2004
...                                                  ...           ...
18996  Technolinguistics NGO\r\n\r\n\r\nTITLE:  Senio...  Dec 28, 2015
18997  "Coca-Cola Hellenic Bottling Company Armenia" ...  Dec 30, 2015
18998  "Coca-Cola Hellenic Bottling Company Armenia" ...  Dec 30, 2015
18999  San Lazzaro   LLC\r\n\r\n\r\nTITLE:  Head of O...  Dec 30, 2015
19000  "Kamurj" UCO CJSC\r\n\r\n\r\nTITLE:  Lawyer in...  Dec 30, 2015

                                                   Title  \
0                                Chief Financial Officer
1      Full-time Community Connections Intern (paid i...
2                                    Country Coordinator
3                                         BCC Specialist
4                                     Software Developer
...                                                  ...
18996                    Senior Creative UX/ UI Designer
18997                       Category Development Manager
18998                      Operational Marketing Manager
18999                    Head of Online Sales Department
19000                         Lawyer in Legal Department

                                                 Company AnnouncementCode  \
0                   AMERIA Investment Consulting Company              NaN
1        International Research & Exchanges Board (IREX)              NaN
2              Caucasus Environmental NGO Network (CENN)              NaN
3                                           Manoff Group              NaN
4                                 Yerevan Brandy Company              NaN
...                                                  ...              ...
18996                              Technolinguistics NGO              NaN
18997  "Coca-Cola Hellenic Bottling Company Armenia" ...              NaN
18998  "Coca-Cola Hellenic Bottling Company Armenia" ...              NaN
18999                                  San Lazzaro   LLC              NaN
19000                                  "Kamurj" UCO CJSC              NaN

            Term                    Eligibility Audience StartDate  \
0            NaN                            NaN      NaN       NaN
1            NaN                            NaN      NaN       NaN
2            NaN                            NaN      NaN       NaN
3            NaN                            NaN      NaN       NaN
4            NaN                            NaN      NaN       NaN
...          ...                            ...      ...       ...
18996  Full-time                            NaN      NaN       NaN
18997  Full-time  All interested professionals.      NaN      ASAP
18998  Full-time  All interested professionals.      NaN      ASAP
18999        NaN                            NaN      NaN       NaN
19000  Full-time                            NaN      NaN       NaN

                                             Duration  ...  \
0                                                 NaN  ...
1                                            3 months  ...
2               Renewable annual contract\r\nPOSITION  ...
3                                                 NaN  ...
4                                                 NaN  ...
...                                               ...  ...
18996                                       Long-term  ...
18997  Long-term with a probation period of 3 months.  ...
18998  Long-term with a probation period of 3 months.  ...
18999                                       Long-term  ...
19000                                      Indefinite  ...

                   Salary                                       ApplicationP  \
0                     NaN  To apply for this position, please submit a\r\...
1                     NaN  Please submit a cover letter and resume to:\r\...
2                     NaN  Please send resume or CV toursula.kazarian@......
3                     NaN  Please send cover letter and resume to Amy\r\n...
4                     NaN  Successful candidates should submit\r\n- CV; \...
...                   ...                                                ...
18996         Competitive  To apply for this position, please send your\r...
18997                 NaN  All interested candidates are kindly requested...
18998                 NaN  All interested candidates are kindly requested...
18999  Highly competitive  Interested candidates can send their CVs to:\r...
19000                 NaN  All qualified applicants are encouraged to\r\n...

            OpeningDate                                       Deadline Notes  \
0                   NaN                                26 January 2004   NaN
1                   NaN                                12 January 2004   NaN
2                   NaN  20 January 2004\r\nSTART DATE:  February 2004   NaN
3                   NaN      23 January 2004\r\nSTART DATE:  Immediate   NaN
4                   NaN                         20 January 2004, 18:00   NaN
...                 ...                                            ...   ...
18996  29 December 2015                                28 January 2016   NaN
18997  30 December 2015                                20 January 2016   NaN
18998  30 December 2015                                20 January 2016   NaN
18999  30 December 2015                                29 January 2016   NaN
19000  30 December 2015                                20 January 2016   NaN

                                                  AboutC Attach  Year Month  \
0                                                    NaN    NaN  2004     1
1      The International Research & Exchanges Board (...    NaN  2004     1
2      The Caucasus Environmental NGO Network is a\r\...    NaN  2004     1
3                                                    NaN    NaN  2004     1
4                                                    NaN    NaN  2004     1
...                                                  ...    ...   ...   ...
18996  As a company Technolinguistics has a mandate t...    NaN  2015    12
18997                                                NaN    NaN  2015    12
18998                                                NaN    NaN  2015    12
18999  San Lazzaro LLC works with several internation...    NaN  2015    12
19000  "Kamurj" UCO CJSC is providing micro and small...    NaN  2015    12

          IT
0      False
1      False
2      False
3      False
4       True
...      ...
18996  False
18997  False
18998  False
18999  False
19000  False

[19001 rows x 24 columns]>

In [6]:
df.dtypes

jobpost             object
date                object
Title               object
Company             object
AnnouncementCode    object
Term                object
Eligibility         object
Audience            object
StartDate           object
Duration            object
Location            object
JobDescription      object
JobRequirment       object
RequiredQual        object
Salary              object
ApplicationP        object
OpeningDate         object
Deadline            object
Notes               object
AboutC              object
Attach              object
Year                 int64
Month                int64
IT                    bool
dtype: object

In [7]:
df.dropna()

Empty DataFrame
Columns: [jobpost, date, Title, Company, AnnouncementCode, Term, Eligibility, Audience, StartDate, Duration, Location, JobDescription, JobRequirment, RequiredQual, Salary, ApplicationP, OpeningDate, Deadline, Notes, AboutC, Attach, Year, Month, IT]
Index: []

[0 rows x 24 columns]

In [8]:
import pandas as pd

# Sample data (replace with your actual data loading step)
data = {
    'Company': ['Yerevan Brandy Company'],
    'Date': ['27 January 2004, 18:00']
}

# Creating a DataFrame (replace with your actual DataFrame loading)
df = pd.DataFrame(data)

# Step 1: Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)

# Step 2: Extract new features from 'Date'
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.weekday  # Monday=0, Sunday=6
df['Quarter'] = df['Date'].dt.quarter

# Step 3: Create a 'Weekend' column (1 for Saturday/Sunday, else 0)
df['Weekend'] = df['Weekday'].apply(lambda x: 1 if x >= 5 else 0)

# Step 4: Verify the extracted features
print(df[['Date', 'Year', 'Month', 'Day', 'Weekday', 'Quarter', 'Weekend']])

# Optionally, you can save the result to a CSV
# df.to_csv('processed_job_postings.csv', index=False)

Missing values before handling:
jobpost                 0
date                    0
Title                  28
Company                 7
AnnouncementCode    17793
Term                11325
Eligibility         14071
Audience            18361
StartDate            9326
Duration             8203
Location               32
JobDescription       3892
JobRequirment        2522
RequiredQual          484
Salary               9379
ApplicationP           60
OpeningDate           706
Deadline               65
Notes               16790
AboutC               6531
Attach              17442
Year                    0
Month                   0
IT                      0
dtype: int64

C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Title'].fillna(df['Title'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Company'].fillna(df['Company'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location'].fillna(df['Location'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['JobDescription'].fillna(df['JobDescription'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['JobRequirment'].fillna(df['JobRequirment'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RequiredQual'].fillna(df['RequiredQual'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Notes'].fillna(df['Notes'].mode()[0], inplace=True)
C:\Users\CVR\AppData\Local\Temp\ipykernel_9768\2609815046.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AboutC'].fillna(df['AboutC'].mode()[0], inplace=True)

TypeError: Cannot convert [nan nan nan ... nan 'Highly competitive' nan] to numeric