In [ ]:
import pandas as pd

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("retail_store_inventory.csv")

In [3]:
df.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,01-01-2022,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,01-01-2022,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,01-01-2022,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,01-01-2022,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,01-01-2022,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [4]:
df.head(100)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,01-01-2022,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,01-01-2022,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,01-01-2022,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,01-01-2022,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,01-01-2022,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,01-01-2022,S005,P0016,Clothing,South,71,11,32,1.85,16.30,5,Sunny,0,17.98,Winter
96,01-01-2022,S005,P0017,Electronics,East,388,371,98,390.04,98.31,15,Sunny,1,102.42,Spring
97,01-01-2022,S005,P0018,Furniture,West,161,107,66,103.97,48.96,10,Snowy,1,50.03,Spring
98,01-01-2022,S005,P0019,Groceries,South,235,106,124,119.33,88.22,5,Rainy,0,91.16,Spring
99,01-01-2022,S005,P0020,Electronics,South,108,101,52,105.92,11.04,10,Snowy,1,9.14,Autumn

In [5]:
df.describe

<bound method NDFrame.describe of              Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  01-01-2024     S005      P0016    Furniture   East               96
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [6]:
df.info

<bound method DataFrame.info of              Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  01-01-2024     S005      P0016    Furniture   East               96
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [7]:
print(df.info)

<bound method DataFrame.info of              Date Store ID Product ID     Category Region  Inventory Level  \
0      01-01-2022     S001      P0001    Groceries  North              231
1      01-01-2022     S001      P0002         Toys  South              204
2      01-01-2022     S001      P0003         Toys   West              102
3      01-01-2022     S001      P0004         Toys  North              469
4      01-01-2022     S001      P0005  Electronics   East              166
...           ...      ...        ...          ...    ...              ...
73095  01-01-2024     S005      P0016    Furniture   East               96
73096  01-01-2024     S005      P0017         Toys  North              313
73097  01-01-2024     S005      P0018     Clothing   West              278
73098  01-01-2024     S005      P0019         Toys   East              374
73099  01-01-2024     S005      P0020    Groceries   East              117

       Units Sold  Units Ordered  Demand Forecast  Price  Discount  \
0             127             55           135.47  33.50        20
1             150             66           144.04  63.01        20
2              65             51            74.02  27.99        10
3              61            164            62.18  32.72        10
4              14            135             9.26  73.64         0
...           ...            ...              ...    ...       ...
73095           8            127            18.46  73.73        20
73096          51            101            48.43  82.57        10
73097          36            151            39.65  11.11        10
73098         264             21           270.52  53.14        20
73099           6            165             2.33  78.39        20

      Weather Condition  Holiday/Promotion  Competitor Pricing Seasonality
0                 Rainy                  0               29.69      Autumn
1                 Sunny                  0               66.16      Autumn
2                 Sunny                  1               31.32      Summer
3                Cloudy                  1               34.74      Autumn
4                 Sunny                  0               68.95      Summer
...                 ...                ...                 ...         ...
73095             Snowy                  0               72.45      Winter
73096            Cloudy                  0               83.78      Autumn
73097             Rainy                  0               10.91      Winter
73098             Rainy                  0               55.80      Spring
73099             Rainy                  1               79.52      Spring

[73100 rows x 15 columns]>

In [8]:
# Removes the duplicate rows
df.drop_duplicates()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,01-01-2022,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,01-01-2022,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,01-01-2022,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,01-01-2022,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,01-01-2022,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73095,01-01-2024,S005,P0016,Furniture,East,96,8,127,18.46,73.73,20,Snowy,0,72.45,Winter
73096,01-01-2024,S005,P0017,Toys,North,313,51,101,48.43,82.57,10,Cloudy,0,83.78,Autumn
73097,01-01-2024,S005,P0018,Clothing,West,278,36,151,39.65,11.11,10,Rainy,0,10.91,Winter
73098,01-01-2024,S005,P0019,Toys,East,374,264,21,270.52,53.14,20,Rainy,0,55.80,Spring
73099,01-01-2024,S005,P0020,Groceries,East,117,6,165,2.33,78.39,20,Rainy,1,79.52,Spring

In [12]:
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [13]:
df.head(10)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer
5,2022-01-01,S001,P0006,Groceries,South,138,128,102,139.82,76.83,10,Sunny,1,79.35,Winter
6,2022-01-01,S001,P0007,Furniture,East,359,97,167,108.92,34.16,10,Rainy,1,36.55,Winter
7,2022-01-01,S001,P0008,Clothing,North,380,312,54,329.73,97.99,5,Cloudy,0,100.09,Spring
8,2022-01-01,S001,P0009,Electronics,West,183,175,135,174.15,20.74,10,Cloudy,0,17.66,Autumn
9,2022-01-01,S001,P0010,Toys,South,108,28,196,24.47,59.99,0,Rainy,1,61.21,Winter

In [14]:
df.dtypes

Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object

In [15]:
if 'stock_level' in df.columns:
    q1 = df['stock_level'].quantile(0.25)
    q3 = df['stock_level'].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df = df[(df['stock_level'] >= lower_bound) & (df['stock_level'] <= upper_bound)]

In [16]:
df.fillna(method='ffill', inplace=True)
df.fillna(method='bfill', inplace=True)

In [17]:
print(df.isnull().sum())

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

In [18]:
print("\n🔹 Checking Missing Values After Handling:")
print(df.isnull().sum())

🔹 Checking Missing Values After Handling:
Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

In [ ]:
print("Number of Duplicate Rows Before Removal:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Number of Duplicate Rows After Removal:", df.duplicated().sum())

🔹 Number of Duplicate Rows Before Removal: 0
🔹 Number of Duplicate Rows After Removal: 0

In [20]:
print("Data Types Before Correction:")
print(df.dtypes)

Data Types Before Correction:
Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object

In [21]:
date_cols = ['Date', 'last_updated']  
for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [22]:
print("Data Types After Correction:")
print(df.dtypes)

Data Types After Correction:
Date                  datetime64[ns]
Store ID                      object
Product ID                    object
Category                      object
Region                        object
Inventory Level                int64
Units Sold                     int64
Units Ordered                  int64
Demand Forecast              float64
Price                        float64
Discount                       int64
Weather Condition             object
Holiday/Promotion              int64
Competitor Pricing           float64
Seasonality                   object
dtype: object

In [23]:
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

In [25]:

if 'stock_level' in df.columns:
    print("Stock Level Outliers Before Removal (IQR):", df.shape[0])
    df = remove_outliers_iqr(df, 'stock_level')
    print("Stock Level Outliers After Removal (IQR):", df.shape[0])

In [26]:
if 'stock_level' in df.columns:
    df['stock_status'] = np.where(df['stock_level'] < 10, 'Low Stock', 'Sufficient Stock')

In [29]:
import seaborn as sns
plt.figure(figsize=(10, 5))
sns.histplot(df['stock_level'], bins=20, kde=True)
plt.title("Stock Level Distribution")
plt.show()

ModuleNotFoundError: No module named 'seaborn'

In [30]:
pip install seaborn

Collecting seabornNote: you may need to restart the kernel to use updated packages.

  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in .\venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in .\venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in .\venv\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in .\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in .\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in .\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/seaborn/

In [32]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
plt.hist(df['stock_level'], bins=20, edgecolor='black')
plt.title("Stock Level Distribution")
plt.xlabel("Stock Level")
plt.ylabel("Frequency")
plt.grid(True)
plt.show()

KeyError: 'stock_level'